body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
  margin-top: 0;
  background-color: #f5c518; 
  color: #212121;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.movie-card {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.movie-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 0 15px rgba(102, 107, 107, 0.8); 
}



.movie-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.movie-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.movie-card p {
  font-size: 14px;
  opacity: 0.8;
}

.movie-card a {
  display: inline-block;
  background-color: #f5c518;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.movie-card a:hover {
  background-color: #e4b017;
}
